<div class="container">
	<div class="header">
		<h3 class="muted title">TIC TAC TOE</h3>
	</div>
	<div class="well">
		<a class="btn btn-md btn-success" ng-click = "startTicTacToe();">Start Game </a>
		<h4 class="muted result">{{status_message}}</h4>
		<table class="table table-bordered">
			<tr ng-repeat="row in [0,1,2]">
				<td ng-repeat = "col in [0,1,2]" ng-class="{'symbol':true, 'won':isWinner(col,row)}"} ng-click="nextMove(col,row)">{{getSquareSymbol(col,row)}}
				</td>
			</tr>
		</table>
	</div>
</div>
